__pycache__
*.pyc
*.pyo
*.mo
*.db
*.sqlite3
.env
.env.*
!.env.production.example
venv/
env/
.git
.gitignore
frontend/
media/
*.log
*.pot
.DS_Store
.idea/
.vscode/
patch_backend.py
patch_views.py
scratch/
db.sqlite3
README.md
docker-compose.yml
