# Database
DB_NAME=kurslarim_db
DB_USER=kurslarim_user
DB_PASSWORD=CHANGE_ME_TO_STRONG_PASSWORD
DB_HOST=db
DB_PORT=5432

# Django
SECRET_KEY=CHANGE_ME_TO_RANDOM_SECRET_KEY
DEBUG=False

# Telegram Bot
TELEGRAM_BOT_TOKEN=8704979842:AAHQOe7Zz_lxcrS26YQqmLBtmWUKlzOWuXk
TELEGRAM_BOT_USERNAME=T_Iskandarov_kurslar_bot
ADMIN_TELEGRAM_ID=870644223

# Frontend URL
FRONTEND_URL=https://kurslarim.uz
