# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
venv/
env/
.env

# Next.js
frontend/.next/
frontend/node_modules/
frontend/out/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/.npm

# Misc
.DS_Store
.idea/
.vscode/
patch_backend.py
patch_views.py
